<div class="popup notActive" id="ban-message">
  <h1>U R BANNED</h1>
  <p>this group's admin banned you.. you don't have access to this group anymore unless the admin unban you</p>
  <a href="/group/main-repl-chat">return to repl-main-chat</a>
</div>
<div class="blur"></div>