<div id="message-length-warning" class="warning popup notActive">
  <button class="close-button" onclick="closeMessageLengthWarning()">&#10006</button>
  <h1>Warning!</h1>
  <p>your message is inValid :(</p>
  <p>it's <strong><span id="message-length"></span> character</strong> longer than it should be</p>
</div>
<div class="blur" id="warning-message-length-blur" onclick="closeMessageLengthWarning()"></div>

