<div id="are-u-sure-popup" class="popup notActive">
  <button class="close-button" onclick="closeSureMsg()">&#10006</button>
  <h1>are you sure?</h1>
  <p>if you leave <span id="group-name-sure-msg"></span> group you aren't the admin anymore..</p>
  <div class="settingsButtonsSaveCancel">
    <button class="cancel">i regret my choice :(</button>
    <button class="save">yes :)</button>
  </div>
</div>
<div class="blur" onclick="closeSureMsg()"></div>