<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="/images/potato.png">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <title>login</title>
  <link rel="stylesheet" href="styles/login.css">
  </head>
  <body>
    <script authed="location.reload()" src="https://auth.turbio.repl.co/script.js"></script>
    <div id="login-div">
    <h1>
    <strong>Welcome to potoChat!</strong>
    </h1>
    <div class="p">
    <p class="login-ps">a chatApp made by potoJS himself!</p>
    <p class="login-ps">
    start by login in with your repl it account
    </p>
    </div>
    <button onclick="document.querySelector('.replit-auth-button').click()" id="login-button">login with repl 🥔</button>
  </body>
</html>