@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
  background-color: rgb(29, 29, 29);
}
*{
  text-align: center;
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
  overflow-x:hidden;
  color:rgb(247, 247, 247);

}
#login-div .p{
  font-size: 20px;
  animation: popup-text 0.5s cubic-bezier(0,1.15,1,1) 0s 1;
}

h1{
  font-size: 60px;
  margin:20px;
  margin-bottom:80px;
  animation: popup-text 0.4s cubic-bezier(0,1.15,1,1) 0s 1;
}

.replit-auth-button{
  display:none;
} 

#login-button{
  position: fixed;
  top:75vh;
  right:30vw;
  width:40vw;
  height:60px;
  font-size:25px;
  border-radius:0;
  border:3px solid rgb(153, 0, 255);
  background-color:transparent;
  color: rgb(153, 0, 255);
  animation: popup-button 0.4s cubic-bezier(0,1.15,1,1) 0s 1;
}
#login-button:hover{

  background-color:rgb(153, 0, 255);
  color: rgb(255, 255, 255);
}


@keyframes popup-button {
  from{
    transform: scale(0.2,0.2)
  }
  to{
    transform: scale(1,1)
  }
}
@keyframes popup-text {
  from{
    transform: translate(0px,-30px) scale(0.2,0.2);
  }
  to{
    transform: translate(0px,0px) scale(1,1);
  }
}